*{ /*reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 600px;
    width: 100%;
    margin: 0 auto; 
    position: relative;
}

body{
    background-color: #fff;
    padding-top: 100px;
}

header{
    display: flex; /*para que os elementos fiquem um ao lado do outro*/
    align-items: center; /*para que os elementos fiquem centralizados na vertical*/
    margin-bottom: 40px;
    justify-content: center;
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
} 

header img{
    height: 50px;
    margin-right: 16px;
}

form{
    max-width: 460px; /*area maxima*/
    width: 100%;
    justify-content: space-between; /*para distribuir o espaçamento entre os itens*/
    /*margin-bottom: 50px;*/
    /*margin-left: 20px;*/
    margin: auto;
}

.form-campo{
    margin-bottom: 16px; /*margem inferior*/
}

.form-campo label{
    font-weight: bold;
    font-size: 15px;
    padding-left: 8px;
    display: block; /*label em uma linha e campo em outra*/
    color: #000;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 5px;
    border-radius: 7px;
    border: none;
    border-bottom: 2px solid #817f7f;
    background-color: #e7e0e0;
}

button{
    display: block;
    width: 100%; /*ocupa 100% do container*/
    padding: 8px 0;
    border: none;
    background-color: #192a56;
    color: #fff;
    font: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 7px;
}

form button{
    width: 120px;
}

.message-error{
    color: red;
    font-size: 11px;
    font-style: italic;
}


